body{
  padding: 0;
  margin: 0;
font-family: 'Handlee', cursive;

}
input[type='text'],input[type='number'],input[type='date'],label[for='name'],label[for='ape'],label[for='Eda'],label[for='fech'],label[for='tel'],label[for='gen'],
label[for='nac'],label[for='est']{
  width: 600px;

}
h1{
  color: #D5BE1C;
  text-align: center;

}
html{
background-color: #D51C8F;
}
.container-fluid{
  background-color: #D51C8F;
}
