body{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Handlee', cursive;
}
h1{
  text-align: center;
  background-color: #871CD5;
  color: #1CC7D5;
}
input[type='text'],input[type='number'],input[type='date'],label[for='fec'],label[for='nom'],label[for='doc'],label[for='medi'],label[for='nueva']{
  width: 400px;

}
html{
    background-color:#871CD5;
}
.container-fluid{
  background-color: #871CD5;
  color: #871CD5;
}
